body {
  background-color: rgba(223, 253, 253, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(199, 200, 201, 0.8);
  height: 200px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  width: 400px;
}

input,
button {
  background-color: #fff;
  border: 2px solid rgb(119, 252, 223);
  border-radius: 4px;
  margin: 1px;
  outline: none;
}

button {
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: rgb(119, 252, 223);
}

i {
  color: rgb(104, 104, 104);
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

span {
  font-size: 18px;
  font-weight: 600;
}

img {
  margin: 25px;
  width: 50px;
}

#question-container {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

#loader {
  position: absolute;
  top: 35%;
  left: 40%;
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(119, 252, 223);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

#weather-data-container {
  position: absolute;
}

#location-data {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#city-name {
  color: rgb(120, 14, 207);
  margin: 0;
  text-transform: capitalize;
}

#search-constainer {
  display: flex;
}

.invisible {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
